<div id="messenger__chat-container">

  <ul id="messenger__chat-container__chat-box">

  </ul>
    <form id="messenger__chat-container_form" action="">
      <input id="messenger__chat-container_form__input" name="chatbox" autocomplete="off" />
      <button id="messenger__chat-container_form__button">✉️</button>
    </form>
</div>