<%- include("partials/header")%>
<%- include("./welcome.ejs")%>
<header id="messenger__header">
            <h2 id="messenger__header__heading">ChatHub 💬</h2>
</header>
<section id="messenger">
    <section id="users__online">
    <div id="users__online__list">
    </div>
    </section>
        <%- include("./chat.ejs"); %>  
</section>
<%- include("partials/footer")%>