<%- include("partials/header")%>
<%- include("./welcome.ejs")%>
<section id="users__online">
<h4 id="users__online__heading">Users Online</h4>
<div id="users__online__list">

</div>

</section>
<section id="messenger">
        <header id="messenger__header">
            <h1 id="messenger__header__heading"></h1>
        </header>
        <%- include("./chat.ejs"); %>  
</section>
<%- include("partials/footer")%>