<%- include("partials/header")%>
<section id="messenger">
        <header id="messenger__header">
            <h1 id="messenger__header__heading">💬</h1>
        </header>
        <%- include("./chat.ejs"); %>  
</section>
<%- include("partials/footer")%>