<div id="welcome-container">
    <h1>Welcome to WhatsApp mini</h1>
    <form id="usernameForm" action="" >
      <input type="text" id = "username"/>
      <button style="width: 100px; height: 50px;"></button>
    </form>
</div>
