<div id="welcome">
  <div id="welcome__inner-container">
    
    <div id="welcome__inner-container__display-users-online">
      <div id="welcome__inner-container__displays-users-online__user-list">
      </div>
    </div>
    
    <div id="welcome__inner-container__form-container">
        <h1 id="welcome__inner-container__form-container__header">WhatsApp Mini</h1>
        <form id="welcome__inner-container__form-container__form" action="" >
        <input type="text" id = "welcome__inner-container__form-container__form__username-input" placeholder="Username"/>
        <button id="welcome__inner-container__form-container__form__submit-button" >Enter</button>
    </form> 
    
  </div>
  </div>
</div>
