:root
{
    --bg-color: #ECE5DD;
    /** --bg-color:#e0e0e0;  **/
    --base--blue: #128C7E;
    /** --base--blue: #0099CC; **/
    --base--grey: #eee;
    --dark-grey: #5B5858;
}

* 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body 
{ 
    height: 100vh;
    font-family: Helvetica, Arial; 
    position: relative;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

#welcome
{
    border: solid 1px black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    /**
    background: #00B4DB;
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB); 
    background: linear-gradient(to left, #0083B0, #00B4DB); 
    **/
    background: url('../assets/images/wabg.png');





    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome__inner-container
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 600px;
    max-width: 850px;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
}

#welcome__inner-container__display-users-online
{
    background-color: #075E54;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 25%;
    padding: 10px;
}

#welcome__inner-container__display-users-online * 
{
    padding: 10px;
}

#welcome__inner-container__display-users-online__header
{
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
}

#welcome__inner-container__displays-users-online__user-list
{
    width: 100%;
    color: #fff;
    text-align: center;
}

#welcome__inner-container__form-container__header
{
    /** color: var(--dark-grey); **/
    color: var(--dark-grey);
    font-size: 4.5rem;
    font-weight: lighter;
    margin-top: 90px;
}

#welcome__inner-container__form-container
{
    width: 100%;
    max-width: 75%;
    text-align: center;
}
#welcome__inner-container__form-container__form
{
    padding: 30px 80px;
    display:flex;
    flex-direction: column;
}

#welcome__inner-container__form-container__form *
{
    padding: 10px;
    
}


#welcome__inner-container__form-container__form__username-input
{
    width: 300px;
    background-color: var(--base--grey);  
    border: none;  
    border-radius: 12px;
    border: solid 1px var(--dark-grey);
    padding: 15px;
}

#welcome__inner-container__form-container__form__submit-button
{
    background-color: var(--base--blue);
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    width: 300px;
}



#messenger
{
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: 100%;
    max-width: 960px;
}

#messenger__header
{
    width: 100%;
    height: 4.444rem;
    background-color: var(--base--blue);
    text-align: center;
    font-size: 1.333rem;
}

#messenger__header__heading
{
    line-height: 4.444rem;
    color: #fff;
}

#messenger__chat-container
{
    display: flex;
    flex-direction: column;
    border-right: solid 5px var(--base--grey);
    border-left: solid 5px var(--base--grey);
    flex: 1;
    width: 100%;
   overflow-y: auto;
    background: url('../assets/images/wabg.png');
}

#messenger__chat-container_form
{
    display:flex;

    justify-content: space-between;
    padding: 10px;
    background-color: var(--base--grey);
    font-size: 1.125rem;
}

#messenger__chat-container_form__input
{
    flex: 1;
    margin-right: 5px;
    font-size: 1.125rem;
}

#messenger__chat-container_form *
{
    padding: 10px;
    border: none;
}

.messenger__chat-container__chat-box__message
{
    padding: 20px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
}

.messenger__chat-container__chat-box__message:nth-of-type(even)
{
    flex-direction: row-reverse;
}

.messenger__chat-container__chat-box__message-info
{
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
}

.messenger__chat-container__chat-box__message:nth-child(odd) .messenger__chat-container__chat-box__message-info
{
    color: var(--dark-grey);
    border-bottom-left-radius: 0;
    /** background-color: var(--base--blue); **/
    background-color:  #DCF8C6;
}

.messenger__chat-container__chat-box__message:nth-child(even) .messenger__chat-container__chat-box__message-info
{
    border-bottom-right-radius: 0;
   background-color: var(--base--grey);
   color: var(--dark-grey); 
   align-self: row-reverse;
}

.messenger__chat-container__chat-box__message-info:nth-of-type(even)
{
   border-bottom-right-radius: 0;
   background-color: var(--base--grey);
   color: var(--dark-grey); 
   justify-self: row-reverse;
}

#messenger__chat-container_form__button
{
    background-color: var(--base--blue);
    font-size: 1.875rem;
}